<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.DiagnosticSource"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" escapeUnicode="false"  escapeForwardSlash="false"/>
				<attribute name="exception" layout="${exception:format=ToString}" escapeUnicode="false" escapeForwardSlash="false"/>
				<attribute name="traceId" layout="${activity:property=TraceId}"/>
				<attribute name="spanId" layout="${activity:property=SpanId}"/>
				<!--<attribute name="traceDesc" layout="${activity:property=Tags:item=Description}"/>-->
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>